.background
  .wrapper
    .title Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .field
        = f.email_field :email, required: true
        = f.label :email, "Email Address"
      .field
        = f.password_field :password, required: true
        = f.label :password, "Password"
      .field
        = f.password_field :password_confirmation, required: true
        = f.label :password_confirmation, "Password Confirmation"
      .content
        .checkbox
          %input{type: "checkbox", id: "remember-me"}
          %label{for: "remember-me"} Remember me
      .field
        = f.submit "Sign up"
      .signup-link
        Already a member?
        = link_to "Login now", new_session_path(resource_name)
